@charset "utf-8";
@import url(https://web.archive.org/web/20181028042929cs_/https://fonts.googleapis.com/css?family=Architects+Daughter);
html {
    min-height: 100%;
}

body {
    background-image: url(https://i.imgur.com/88gcZX2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo {
    animation: flicker 10s infinite;
    position: absolute;
    transition: opacity 0.1s ease;
    -webkit-transition: opacity 0.1s ease;
    -moz-transition: opacity 0.1s ease;
}

@keyframes flicker {
    23% {
        opacity: 1;
    }
    0%, 20%, 24%, 100% {
        opacity: 0;
    }
}

.onlogo {
    transition: opacity 0.1s ease;
    -webkit-transition: opacity 0.1s ease;
    -moz-transition: opacity 0.1s ease;
}

.server-info {
    font-family: 'Architects Daughter', cursive;
    letter-spacing: 1px;
    font-size: 140%;
    text-transform: uppercase;
    width: 550px;
    padding: 10px 20px 10px 20px;
    color: #FFF;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #113047;
    opacity: 0.9;
    border: 2px solid #000;
}

.player-count {
    float: right;
}

nav {
    padding: 150px 0;
    display: block;
    margin: 0;
    width: 900px;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
}

#play,
#store,
#vote {
    padding: 0;
    margin: 0;
    float: left;
    background: url(https://i.imgur.com/hK5lKLP.png);
    width: 300px;
    height: 275px;
}

#forum {
    background-position: 0 0;
}

#forum:hover {
    background-position: 0 -275px;
}

#forum:active {
    background-position: 0 0;
}

#store {
    background-position: -300px 0;
}

#store:hover {
    background-position: -300px -275px;
}

#store:active {
    background-position: -300px 0;
}

#vote {
    background-position: 300px 0;
}

#vote:hover {
    background-position: 300px -275px;
}

#vote:active {
    background-position: 300px 0;
}

@media screen and (max-height: 800px) {
    header {
        margin-top: 0;
    }
    nav {
        padding: 50px 0;
        width: 900px;
    }
}

@media screen and (max-height: 520px) {
    nav {
        padding: 0 0;
        width: 900px;
    }
}

@media screen and (max-width: 900px) {
    header {
        width: auto;
        margin-top: 0;
    }
    .logo,
    .onlogo {
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .server-info {
        font-size: 140%;
        width: 550px;
    }
    #forum,
    #store,
    #vote {
        clear: both;
    }
    nav {
        width: 300px;
        padding: 40px 0;
    }
}

@media screen and (max-width: 600px) {
    .server-info {
        font-size: 60%;
        width: auto;
    }
}


}

/*
     FILE ARCHIVED ON 04:29:29 Oct 28, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:58:01 Sep 03, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.519
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.008
  cdx.remote: 36.937
  LoadShardBlock: 678.116 (3)
  PetaboxLoader3.resolve: 213.055 (4)
  PetaboxLoader3.datanode: 395.031 (4)
  load_resource: 337.362
*/
