}

.page.-dashboard {
    padding: 64px 8%
}

.page.-dashboard .subbox {
    display: table-cell;
    vertical-align: top;
    background: #fff;
    color: #babbc2;
    padding: 24px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(130,136,148,.16),0 0 1px rgba(130,136,148,.16);
    flex-grow: 0;
    min-width: 348px
}

.page.-dashboard .subbox-title {
    color: #333;
    font-family: Inter,sans-serif;
    font-size: 12px;
    line-height: 1;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin: 0
}

.page.-dashboard .subbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px
}

.page.-dashboard .subbox-subtext {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 24px
}

.page.-dashboard .modal {
    position: relative;
    z-index: 1;
    background: #fbfbfb;
    color: #272729;
    padding: 48px 64px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(130,136,148,.16),0 0 1px rgba(130,136,148,.16);
    text-align: center;
    width: 400px
}

.page.-dashboard .modal-icon {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto 20px;
    fill: #ff6954
}

.page.-dashboard .modal-header {
    margin-bottom: 24px
}

.page.-dashboard .modal-prompt {
    display: block;
    font-size: 14px;
    line-height: 20px
}

.page.-dashboard .modal-item,.page.-dashboard .modal-prompt:not(:last-child) {
    margin-bottom: 48px
}

.page.-dashboard .modal-item-name {
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px
}

.page.-dashboard .modal-item-value {
    font-size: 14px;
    color: #8d8d94
}

.page.-dashboard .button.-modal {
    background: #272729;
    padding: 8px 16px;
    border-radius: 3px;
    font-weight: 700
}

.page.-dashboard .button.-modal.-emphasis {
    background: #ff695b
}

.page.-dashboard .button.-modal:not(:last-child) {
    margin-right: 16px
}

.page.-dashboard .action.-close {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #cecece
}

.page.-dashboard .lightbox-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.75)
}

.page.-dashboard .input {
    width: 100%
}

.box.-dashboard {
    display: flex;
    position: relative;
    min-height: 1000px;
    padding: 0;
    border-radius: 6px;
    color: #babbc2;
    box-shadow: 0 4px 6px rgba(130,136,148,.16),0 0 2px rgba(130,136,148,.16);
    overflow: hidden
}

.box.-dashboard .box-aside {
    min-height: 1000px;
    background: #fff;
    flex-shrink: 0
}

.box.-dashboard .box-aside .user {
    margin-bottom: 80px;
    padding: 0 32px
}

.box.-dashboard .box-aside .user-greeting {
    font-size: 12px;
    margin-bottom: 6px;
    display: block
}

.box.-dashboard .box-aside .user-icon {
    color: #6b75ff;
    margin-left: 4px;
    font-size: 14px
}

.box.-dashboard .user {
    display: flex;
    align-items: center
}

.box.-dashboard .user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 3px;
    background: #e6e6eb
}

.box.-dashboard .user-avatar-icon {
    width: 26px;
    height: 26px;
    margin: 11px
}

.box.-dashboard .user-text {
    margin-left: 16px
}

.box.-dashboard .user-name {
    color: #6b75ff;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px
}

.box.-dashboard .user.-unlinked .user-name {
    color: #babbc2
}

.box.-dashboard .user-status {
    display: block;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 2px
}

.box.-dashboard .box-title {
    color: #6b75ff;
    font-family: Inter,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding: 32px;
    margin: 0 0 32px;
    font-size: 1.5rem
}

.box.-dashboard .nav {
    color: #9fa4a5
}

.box.-dashboard .nav-heading {
    font-family: Inter,sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: 8px;
    padding: 0 32px
}

.box.-dashboard .nav-link {
    display: flex;
    align-items: center;
    padding: 14px 32px
}

.box.-dashboard .nav-link.-selected {
    color: #333;
    cursor: default
}

.box.-dashboard .nav-link:not(.-selected):hover {
    background: #f6f6f6;
    color: #333
}

.box.-dashboard .nav-link:not(.-selected):hover .nav-link-icon {
    fill: #333
}

.box.-dashboard .nav-link-icon {
    font-size: 16px;
    line-height: 1;
    fill: #9fa4a5
}

.box.-dashboard .nav-link-icon:not(.material-icons) {
    width: 12px;
    height: 12px;
    margin: 2px
}

.box.-dashboard .nav-link-text {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px
}

.box.-dashboard .box-content {
    background: #f0f0f5;
    flex: 1 1;
    min-height: 1000px
}

.box.-dashboard .table.-wrap {
    width: 100%;
    border-spacing: 32px
}

.box.-dashboard .button.-unlink {
    background: rgba(107,117,255,.24);
    color: #6b75ff
}

@media screen and (max-width: 840px) {
    .page.-dashboard {
        padding:48px 0 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column
    }

    .box.-dashboard {
        flex: 1 1;
        margin: 0;
        border-top-width: 48px
    }

    .box.-dashboard,.box.-dashboard .box-content {
        min-height: auto
    }
}

.box.-order-history .table.-wrap,.subbox.-orders {
    height: 100%
}

.subbox.-orders .orders-table {
    width: 100%;
    max-width: 640px;
    color: #9fa4a5;
    font-size: 14px;
    padding: 48px 16px;
    border-spacing: 0;
    table-layout: fixed
}

.subbox.-orders .orders-table tr {
    font-weight: 500
}

.subbox.-orders .orders-table>.orders-table-head {
    color: #babbc2;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase
}

.subbox.-orders .orders-table>.orders-table-head td {
    padding: 8px 8px 16px;
    border-bottom: thin solid #f6f6f6
}

.subbox.-orders .orders-table>.table-row td {
    padding: 8px;
    border-top: 6px solid #fff
}

.subbox.-orders .orders-table>.table-row:hover {
    background: #f4f4f4;
    cursor: pointer
}

.subbox.-orders .orders-table>tr:nth-child(2) td {
    border-top: 12px solid #fff
}

.subbox.-orders .order-status {
    font-weight: 700
}

.subbox.-orders .order-status.-status-unpaid {
    color: #ff695b
}

.subbox.-orders .order-status.-status-canceled {
    color: #ffc611
}

.subbox.-orders .order-status.-status-charged,.subbox.-orders .order-status.-status-renewed {
    color: #0baf88
}

.subbox.-orders .order-status.-status-refunded {
    color: #ffc611
}

.subbox.-orders .orders-table.-status-chargeback {
    color: #ff695b
}

@media screen and (max-width: 840px) {
    .box.-order-history .table.-wrap {
        border-spacing:0
    }
}

@media screen and (max-width: 420px) {
    .box.-order-history .subbox.-orders .table {
        padding:32px 0
    }
}

@media screen and (max-width: 380px) {
    .page.-dashboard .subbox {
        min-width:auto
    }

    .page.-dashboard .box.-order-history .subbox.-orders .table {
        font-size: 10px
    }
}

.password-strength-info {
    padding-top: 8px;
    font-size: .8rem
}

.password-strength.-poor {
    color: #ff695b;
    font-weight: 700
}

.password-strength.-ok {
    color: #ffc611;
    font-weight: 700
}

.password-strength.-excellent {
    color: #0baf88;
    font-weight: 700
}

.page.-account-settings .modal.-linked-account {
    width: 360px
}

.page.-account-settings .modal.-linked-account .modal-icon {
    display: flex;
    font-size: 48px;
    width: 48px;
    height: 48px;
    margin-bottom: 0;
    color: #0baf88
}

.page.-account-settings .modal.-linked-account .modal-prompt {
    margin-bottom: 24px
}

.page.-account-settings .modal.-linked-account .button.-modal {
    background: #0baf88
}

.page.-account-settings .modal.-linked-account .modal-icon.-failed {
    color: #ff695b
}

.page.-account-settings .modal.-linked-account .button.-modal.-failed {
    background: #ff695b
}

.page.-account-settings .modal.-box {
    padding: 24px;
    text-align: right;
    width: auto;
    max-width: 360px
}

.page.-account-settings .modal.-box>:not(.modal-buttons) {
    text-align: left
}

.page.-account-settings .modal.-box .modal-title {
    color: #272729;
    font-size: 12px;
    font-family: Inter,sans-serif;
    line-height: 24px;
    text-transform: uppercase
}

.page.-account-settings .modal.-box .modal-subtext {
    display: block;
    color: #babbc2;
    font-size: 12px
}

.page.-account-settings .modal.-box .modal-prompt {
    text-align: center
}

.page.-account-settings .modal.-box .modal-prompt.-iconic {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center
}

.page.-account-settings .modal.-box .modal-prompt.-iconic .icon {
    margin-right: 8px
}

.page.-account-settings .modal.-box .modal-prompt.-await .icon {
    -webkit-animation: rotate 1s infinite;
    animation: rotate 1s infinite
}

.page.-account-settings .modal.-box .modal-prompt:not(:last-child) {
    margin-bottom: 24px
}

.page.-account-settings .modal.-box .modal-code {
    display: flex;
    padding: 8px 8px 8px 0;
    text-align: center;
    background: #f4f4f4;
    margin-bottom: 24px
}

.page.-account-settings .modal.-box .modal-code-text {
    display: block;
    color: #8e97ab;
    font-family: monospace;
    font-size: 20px;
    line-height: 42px;
    font-weight: 700;
    flex: 1 1
}

.page.-account-settings .modal.-box .modal-code .button.-copy {
    flex-grow: 0;
    padding: 8px 12px
}

.page.-account-settings .modal.-box .button.-emphasis {
    background: #6b75ff
}

.page.-account-settings .modal.-box .button.-emphasis.-success {
    background: #0baf88
}

.page.-account-settings .modal.-box .button.-emphasis.-failure {
    background: #ff695b
}

.box.-account-settings .subbox {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - 32px)
}

.box.-account-settings .subbox.-methods {
    padding: 24px 48px 24px 24px
}

.box.-account-settings .method {
    display: flex;
    color: #272729
}

.box.-account-settings .method:first-child {
    color: #6b75ff
}

.box.-account-settings .method:first-child .method-icon {
    fill: #6b75ff
}

.box.-account-settings .method:not(:last-child) {
    margin-bottom: 24px
}

.box.-account-settings .method-icon {
    width: 16px;
    height: 16px;
    fill: #272729;
    margin: 2px 16px 2px 2px
}

.box.-account-settings .method-text {
    flex: 1 1
}

.box.-account-settings .method-details {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.box.-account-settings .method-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px
}

.box.-account-settings .method-value {
    color: #8d8d94;
    font-size: 12px;
    line-height: 20px
}

.box.-account-settings .method-action {
    cursor: pointer;
    color: #babbc2;
    font-size: 12px
}

.button.-subbox {
    background: #6b75ff;
    padding: 4px 8px;
    font-weight: 700;
    line-height: 1;
    border-radius: 3px;
    height: 24px
}

.subbox.-methods .subbox-header {
    margin-bottom: 8px
}

@media screen and (max-width: 1320px) {
    .page.-account-settings .table {
        display:block;
        padding: 32px
    }

    .page.-account-settings .table-row {
        display: block
    }

    .page.-account-settings .subbox {
        display: block;
        margin-bottom: 32px
    }
}

@media screen and (max-width: 840px) {
    .page.-account-settings .input {
        max-width:none
    }
}

@media screen and (max-width: 440px) {
    .page.-account-settings .table.-wrap {
        border-spacing:0;
        padding: 0
    }

    .page.-account-settings .subbox {
        margin: 0;
        border-bottom: thin solid #f4f4f4;
        border-radius: 0;
        box-shadow: none;
        min-width: auto
    }

    .page.-account-settings .method-name {
        font-size: 14px
    }

    .page.-account-settings .method-value {
        font-size: 10px
    }

    .page.-account-settings .modal.-link-account .modal-code-text {
        font-size: 16px
    }
}

.page.-link .notice {
    width: 320px;
    background: #8e97ab;
    color: #fff;
    padding: 16px 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center
}

.page.-link .notice .icon {
    margin-right: 12px
}

.page.-link .notice-text {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700
}

.page.-link .box.-link.-result {
    text-align: center
}

.page.-link .box-icon.material-icons.-done {
    color: #0baf88;
    font-size: 48px
}

.page.-link .box-icon.-alert {
    fill: #ff695b;
    width: 48px;
    height: 48px
}

.page.-link .box-icon.material-icons.-large {
    color: #0baf88;
    font-size: 48px
}

.page.-link .box-title.-large {
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    text-transform: none;
    margin-top: 8px
}

.page.-link .box.-result .box-subtitle {
    font-size: 14px;
    margin-bottom: 20px
}

.page.-link .box-content {
    font-size: 14px
}

.page.-link .box-content.-loading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e97ab
}

.page.-link .box-content.-loading .icon {
    -webkit-animation: rotate 1s infinite;
    animation: rotate 1s infinite;
    margin-right: 4px
}

.page.-link .box-prompt {
    display: flex;
    color: #272729;
    font-size: 14px;
    line-height: 20px;
    padding: 0 8px;
    margin-bottom: 24px
}

.page.-link .box-prompt .icon {
    margin-right: 8px
}

.page.-link .box-code {
    display: flex;
    padding: 8px 8px 8px 0;
    text-align: center;
    background: #f4f4f4;
    border: thin solid #e6e6eb;
    border-radius: 6px
}

.page.-link .box-code-text {
    display: block;
    color: #8e97ab;
    font-family: monospace;
    font-size: 20px;
    line-height: 42px;
    font-weight: 700;
    flex: 1 1
}

.page.-link .box-code .button.-copy {
    width: auto;
    flex-grow: 0;
    padding: 8px 12px
}

.page.-link .button.-emphasis {
    background: #6b75ff
}

.page.-link .button.-emphasis.-success {
    background: #0baf88
}

.page.-link .button.-emphasis.-failure {
    background: #ff695b
}

.page.-auth {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f0f0f5
}

.page.-auth:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg,#6b75ff,#fa5bc7)
}

.page.-auth .title {
    color: #333;
    margin: 24px 0;
    font-size: 32px;
    font-weight: 700
}

.page.-auth .content {
    display: flex;
    justify-content: center;
    align-items: center
}

.page.-auth .box {
    padding: 24px;
    background: #fff;
    color: #babbc2;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(130,136,148,.16),0 0 2px rgba(130,136,148,.16);
    width: 320px
}

.page.-auth .box-title {
    color: #333;
    margin-bottom: 4px;
    font-family: Inter,sans-serif;
    font-size: 12px;
    line-height: 1;
    letter-spacing: .5px;
    text-transform: uppercase
}

.page.-auth .box-subtitle {
    color: #8e97ab;
    display: block;
    font-size: 12px;
    line-height: 1.5
}

.page.-auth .box-header {
    padding-bottom: 16px;
    border-bottom: thin solid #f0f0f0;
    margin-bottom: 24px
}

.page.-auth .input-wrap:not(:last-child),.page.-auth .inputs {
    margin-bottom: 24px
}

.page.-auth .input-label {
    line-height: 1;
    margin-bottom: 0
}

.page.-auth .input {
    width: 100%
}

.page.-auth .input-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px
}

.page.-auth .action {
    display: inline-block;
    text-align: right;
    font-size: 12px;
    line-height: 1;
    color: #6b75ff;
    margin-top: 8px
}

.page.-auth .action:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(107,117,255,.5);
    text-decoration-color: rgba(107,117,255,.5)
}

.page.-auth .button {
    background: #6b75ff;
    width: 100%;
    display: block
}

.page.-auth .button:disabled {
    background: #8e97ab;
    cursor: wait
}

.page.-auth .further-directions {
    font-size: 14px;
    line-height: 1.5
}

.page.-auth .prompt {
    color: #8e97ab;
    width: 320px;
    margin: 24px 0;
    font-size: 12px;
    line-height: 1.5;
    text-align: center
}

.page.-auth .red {
    color: red;
    font-weight: 400
}

.page.-auth .-status {
    color: #fff;
    padding: 10px 16px;
    font-size: 13px;
    margin-bottom: 16px;
    line-height: 1.5
}

.page.-auth .-status.-fail {
    background-color: #ff695b
}

.page.-auth .-status.-success {
    background-color: #0baf88
}

.page.-auth .password-strength.-poor {
    color: #ff695b;
    font-weight: 700
}

.page.-auth .password-strength.-ok {
    color: #ffc611;
    font-weight: 700
}

.page.-auth .password-strength.-excellent {
    color: #0baf88;
    font-weight: 700
}

.card-row,.cards.-coins {
    display: flex
}

.card-row:not(:last-child) {
    margin-bottom: 32px
}

.card {
    width: 100%;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(130,136,148,.16),0 0 1px rgba(130,136,148,.16)
}

.card.-rank {
    display: flex;
    padding: 48px 32px
}

.card.-rank:not(:last-child) {
    margin-right: 32px
}

.card.-coin {
    color: #ffc611;
    text-align: center;
    padding: 32px
}

.card.-coin .button {
    background: #ffc611
}

.card.-coin:not(:last-child) {
    margin-right: 84px
}

.card.-unknown {
    color: #525865;
    text-align: center;
    padding: 10px
}

.card.-vip {
    color: #0baf88
}

.card.-vip .button {
    background: #0baf88
}

.card.-vipplus {
    color: #ff5b00
}

.card.-vipplus .button {
    background: #ff5b00
}

.card.-elite {
    color: #fa5bc7
}

.card.-elite .button {
    background: #fa5bc7
}

.card.-eliteplus {
    color: #ac5af9
}

.card.-eliteplus .button {
    background: #ac5af9
}

.card.-disabled {
    color: #525865
}

.card.-disabled .button {
    background: #525865
}

.card.-disabled .card-aside img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1)
}

.card.-disabled .button.-card {
    cursor: not-allowed
}

.card.-coin .card-image {
    margin-bottom: 8px
}

.card-title {
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #525865;
    font-size: 18px;
    margin-bottom: 4px
}

.card.-rank .card-content {
    margin-left: 32px
}

.card-items {
    text-align: left
}

.card.-rank .card-pricing {
    display: flex;
    align-items: center
}

.card-pricing {
    margin-bottom: 16px
}

.price.-card {
    font-family: Montserrat,sans-serif;
    font-size: 24px
}

.price.-card .original {
    color: #8e97ab;
    font-size: 16px;
    margin-left: 8px
}

.card-badge {
    color: #c9c9c9;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 12px
}

.card-items {
    margin-bottom: 20px
}

.card-item {
    color: #606060;
    font-size: 13px;
    display: flex
}

.card-item:not(:last-child) {
    margin-bottom: 12px
}

.bullet-check {
    background: #e0f4ed;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.bullet-check .icon {
    color: #0baf88;
    font-size: 13px
}

@media screen and (max-width: 1280px) {
    .page.-home .card-image {
        width:100px
    }

    .page.-home .cards.-coins {
        display: block
    }

    .page.-home .card.-coin {
        padding-left: 0;
        display: flex
    }

    .page.-home .card.-coin:not(:last-child) {
        margin-right: 0;
        margin-bottom: 16px
    }

    .page.-home .card.-coin .card-aside {
        padding: 32px;
        display: flex;
        align-items: center
    }

    .page.-home .card.-coin .card-content {
        text-align: left
    }

    .page.-home .cards.-ranks .card-row {
        display: block
    }

    .page.-home .card.-rank:not(:last-child),.page.-home .cards.-ranks .card-row:not(:last-child) {
        margin-bottom: 16px
    }
}

@media screen and (max-width: 840px) {
    .page.-home .cards.-ranks .card-row {
        display:flex
    }

    .page.-home .card {
        position: relative;
        padding: 0;
        border-radius: 6px;
        display: flex;
        align-items: center;
        box-shadow: 0 2px 16px rgba(130,136,148,.4)
    }

    .page.-home .card:not(:last-child) {
        margin-bottom: 16px
    }

    .page.-home .card.-rank:not(:last-child) {
        margin-bottom: 0;
        margin-right: 16px
    }

    .page.-home .card-aside {
        padding: 32px 24px;
        background: #fbfbfb;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px
    }

    .page.-home .card.-rank .card-aside {
        padding: 24px 16px 16px
    }

    .page.-home .card-content {
        padding: 24px;
        margin: 0
    }

    .page.-home .card-title {
        font-size: 14px
    }

    .page.-home .card.-coin .card-aside {
        height: 112px
    }

    .page.-home .card-image {
        width: 64px;
        margin: 0
    }

    .page.-home .card-pricing {
        margin: 0
    }

    .page.-home .card-badge {
        display: none
    }

    .page.-home .price.-card {
        font-size: 20px
    }

    .page.-home .card-items {
        display: none
    }

    .page.-home .card-item {
        font-size: 10px
    }

    .page.-home .button.-card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0
    }

    .page.-home .card .arrow {
        color: #c9c9c9;
        display: block;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%)
    }
}

@media screen and (max-width: 720px) {
    .page.-home .section.-ranks .card-row {
        display:block
    }

    .page.-home .section.-ranks .card-row:not(:last-child) {
        margin-bottom: 16px
    }

    .page.-home .section.-ranks .card:not(:last-child) {
        margin-right: 0;
        margin-bottom: 16px
    }

    .page.-home .card.-coin .card-aside {
        padding: 24px
    }

    .page.-home .card.-coin .price.-card,.page.-home .card.-rank .price.-card {
        font-size: 16px
    }

    .page.-home .card.-coin .price.-card .original,.page.-home .card.-rank .price.-card .original {
        font-size: 12px
    }
}

.page.-subscriptions .subbox.-subscriptions {
    padding: 0;
    box-shadow: none
}

.page.-subscriptions .subbox.-subscriptions .subbox-header {
    padding: 24px;
    margin: 0
}

.page.-subscriptions .subbox.-subscriptions .subbox-content {
    padding: 32px 24px;
    background: #e3e3e3
}

.page.-subscriptions .subbox.-subscriptions .subbox-notice {
    display: block;
    text-align: center;
    color: #8e97ab
}

.page.-subscriptions .subbox.-subscriptions .button.-card {
    background: #ff695b
}

.page.-subscriptions .subbox.-subscriptions .icon.arrow {
    display: none
}

@media screen and (max-width: 500px) {
    .page.-subscriptions .table.-wrap {
        border-spacing:0
    }

    .page.-subscriptions .subbox.-subscriptions .subbox-content {
        background: #f0f0f5
    }
}

@media screen and (max-width: 440px) {
    .page.-subscriptions .card {
        padding:0
    }

    .page.-subscriptions .card-aside {
        padding: 24px 12px 16px 24px;
        background: #fbfbfb
    }

    .page.-subscriptions .card-image {
        width: 64px
    }

    .page.-subscriptions .card-title {
        font-size: 14px
    }

    .page.-subscriptions .card-price {
        font-size: 20px;
        line-height: 32px
    }

    .page.-subscriptions .card-items {
        display: none
    }

    .page.-subscriptions .card-content {
        padding: 24px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start
    }

    .page.-subscriptions .card-pricing {
        margin-bottom: 8px
    }
}

.perk {
    color: #606060;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 24px;
    margin-bottom: 16px;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(130,136,148,.16);
    position: relative
}

.perk.-exclusive:before {
    display: block;
    padding: 5px 8px;
    color: #fff;
    line-height: 1;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1
}

.perk-icon {
    display: block;
    flex-shrink: 0;
    margin-right: 16px
}

.perk-text {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: .5px;
    text-transform: uppercase
}

.lightbox {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2
}

.lightbox-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: .75
}

.page.-cart .boxes {
    display: flex;
    justify-content: center;
    padding: 0 8%
}

.page.-cart .box {
    background: #fbfbfb;
    padding: 32px 50px;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(130,136,148,.16),0 0 2px rgba(130,136,148,.16)
}

.page.-cart .box.-perks {
    flex: 1 1
}

.page.-cart .box.-cart {
    width: 380px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0
}

.page.-cart .box:not(:last-child) {
    margin-right: 20px
}

.page.-cart .box.-cart .section.-summary {
    flex: 1 1
}

.page.-cart .box-header {
    margin-bottom: 24px
}

.page.-cart .box-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px
}

.page.-cart .box-title {
    color: #525865;
    font-size: 24px;
    line-height: 1
}

.page.-cart .box.-cart .box-title {
    text-align: center
}

.page.-cart .box-badge {
    background: #6b75ff;
    color: #fff;
    font-size: 12px;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
    padding: 4px 16px;
    border-radius: 2px
}

.page.-cart .box-desc {
    color: #8e97ab;
    font-size: 12px
}

.page.-cart .section-header {
    display: flex;
    align-items: center
}

.page.-cart .section-heading {
    font-size: 18px;
    font-family: Inter,sans-serif;
    line-height: 56px
}

.page.-cart .section.-vip .section-heading {
    color: #0baf88
}

.page.-cart .section.-vip .perk-icon {
    fill: #0baf88
}

.page.-cart .section.-vipplus .section-heading {
    color: #ff5b00
}

.page.-cart .section.-vipplus .perk-icon {
    fill: #ff5b00
}

.page.-cart .section.-elite .section-heading {
    color: #fa5bc7
}

.page.-cart .section.-elite .perk-icon {
    fill: #fa5bc7
}

.page.-cart .section.-eliteplus .section-heading {
    color: #ac5af9
}

.page.-cart .section.-eliteplus .perk-icon {
    fill: #ac5af9
}

.page.-cart .section.-coins .section-heading {
    color: #ffc611
}

.page.-cart .section.-coins .perk-icon {
    fill: #ffc611
}

.page.-cart .section.-empty-cart {
    background-color: #f4f4f4;
    text-align: center
}

.page.-cart .section.-empty-cart .material-icons {
    font-size: 80px
}

.page.-cart .section-perks {
    display: flex;
    flex-wrap: wrap
}

.page.-cart .perk {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(33% - 16px);
    max-width: calc(33% - 9px)
}

.page.-cart .perk:not(:nth-child(3n)) {
    margin-right: 16px
}

.page.-cart .perk-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center
}

.page.-cart .section.-products {
    margin-bottom: 24px
}

.page.-cart .product.-no-items {
    color: #8e97ab;
    font-size: 14px;
    text-align: center
}

.page.-cart .product:not(:last-child) {
    margin-bottom: 32px
}

.page.-cart .product-data {
    display: flex;
    justify-content: space-between
}

.page.-cart .product-header {
    display: flex;
    align-items: center
}

.page.-cart .product-name {
    color: #525865;
    font-size: 18px;
    font-weight: 500
}

.page.-cart .price.-product {
    color: #525865;
    font-size: 16px;
    font-weight: 700
}

.page.-cart .price.-product .original {
    color: #8e97ab;
    margin-left: 8px
}

.page.-cart .product-action {
    color: #8e97ab;
    font-size: 12px;
    margin: 4px 0
}

.page.-cart .product-action.-remove {
    color: #ff695b
}

.page.-cart .section.-summary {
    margin-bottom: 240px
}

.page.-cart .summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px
}

.page.-cart .summary-item-name {
    color: #525865;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: .5px
}

.page.-cart .summary-item-value {
    color: #525865;
    font-size: 16px;
    font-weight: 700
}

.page.-cart .summary-item.-subtotal .summary-item-value {
    font-size: 24px
}

.page.-cart .summary-item.-recurring {
    align-items: flex-start
}

.page.-cart .summary-item.-recurring .summary-item-value {
    font-size: 24px;
    text-align: right
}

.page.-cart .summary-item.-recurring .summary-item-value .summary-item-value-caption {
    font-size: 12px;
    text-transform: uppercase;
    color: #8e97ab
}

.page.-cart .monthly-note {
    font-size: 14px;
    text-align: center;
    color: #8e97ab
}

.page.-cart .subsection.-discount {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px
}

.page.-cart .discount-input {
    display: flex;
    flex-flow: row
}

.page.-cart .discount-status {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center
}

.page.-cart .discount-status.-applied {
    color: #0baf88
}

.page.-cart .discount-status.-failed {
    color: #ff695b
}

.page.-cart .button.-remove-discount {
    width: 100%;
    padding: 8px 0
}

.page.-cart .input.-discount {
    margin-right: 12px;
    width: calc(100% - 84px)
}

.page.-cart .coupon {
    justify-content: space-between
}

.page.-cart .coupon,.page.-cart .coupon-side {
    display: flex;
    align-items: center
}

.page.-cart .coupon-name {
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 8px;
    font-size: 14px
}

.page.-cart .coupon-value {
    padding-right: 8px;
    font-size: 14px
}

.page.-cart .coupon-icon.-check {
    color: #0baf88
}

.page.-cart .coupon-icon.-close {
    color: #8e97ab
}

.page.-cart .box .button {
    background: #8e97ab;
    padding: 12px 0;
    letter-spacing: .5px;
    text-transform: uppercase
}

.page.-cart .button.-apply {
    width: 72px
}

.page.-cart .subsection.-confirm {
    display: flex
}

.page.-cart .subsection.-confirm .button {
    width: 100%
}

.page.-cart .box.-cart .button.-cancel {
    margin-right: 12px
}

.page.-cart .box.-cart .button.-emphasis {
    background: #6b75ff
}

.page.-cart .box.-cart .button.-inactive {
    opacity: .5
}

.lightbox.-processing .modal {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    max-width: 400px;
    background: #fff;
    padding: 48px 64px;
    box-shadow: 0 2px 4px rgba(130,136,148,.16),0 0 1px rgba(130,136,148,.16);
    border-radius: 6px
}

.lightbox.-processing .modal-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px
}

.lightbox.-processing .modal .icon {
    -webkit-animation: rotate 1s infinite;
    animation: rotate 1s infinite;
    color: #525865
}

.lightbox.-processing .modal-title {
    font-family: Montserrat,sans-serif;
    color: #525865;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin: 0 8px
}

.lightbox.-processing .modal-text {
    line-height: 20px;
    text-align: center;
    color: #272729
}

.lightbox.-processing .lightbox-overlay {
    background: #fff;
    opacity: .5
}
