.main-header {
    border-top: 30px solid transparent;
    border-bottom: 40px solid transparent;
    padding: 16px 8%;
    position: relative;
    justify-content: space-between;
    color: #fff;
    transition: left .25s
}

.main-header,.main-header .header-lhs,.main-header .header-nav,.main-header .header-rhs,.main-header .header-user {
    display: flex;
    align-items: center
}

.main-header .header-nav {
    margin-right: 24px
}

.main-header .header-nav-item {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px
}

.main-header .header-nav-item:not(:last-child) {
    margin-right: 64px
}

.main-header .header-nav-item.-selected {
    font-weight: 900;
    letter-spacing: 0;
    color: #fff
}

.main-header .header-avatar {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e6e6eb;
    display: flex;
    justify-content: center;
    align-items: center
}

.main-header .header-avatar-icon {
    color: #fff;
    font-size: 32px
}

.main-header .header-user-icon {
    cursor: pointer;
    font-size: 20px;
    margin: 8px
}

.main-header .header-buttons {
    margin-left: 16px
}

.main-header .header-buttons .button {
    display: block;
    background: #fff;
    color: #6237f7;
    padding: 12px 32px;
    margin: 7px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase
}

.main-title {
    color: #fa5bc7;
    font-family: Inter,sans-serif;
    font-size: 36px;
    font-weight: 700
}

@media screen and (max-width: 1280px) {
    .main-header .header-nav-item:not(:last-child) {
        margin-right:32px
    }
}

@media screen and (max-width: 840px) {
    .main-header {
        background:#525865;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 48px;
        margin: 0;
        padding: 16px 8%;
        border: 0;
        z-index: 2;
        transition: left .25s
    }

    .main-header .header-nav,.main-header .header-user {
        display: none
    }

    .main-header .action.-menu {
        margin-right: 12px
    }

    .main-header .action.-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative
    }

    .main-header .action.-cart .count {
        background: #6b75ff;
        color: #fff;
        font-size: 10px;
        line-height: 16px;
        font-weight: 700;
        text-align: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid #525865;
        box-sizing: initial;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(33%,-33%)
    }

    .main-header .action.-cart .icon,.main-title {
        font-size: 20px
    }

    .main-title {
        color: #fff
    }
    .lightbox.-menu {
    z-index: 1
}

.lightbox.-menu~* {
    position: relative;
    z-index: 1
}

.lightbox.-menu .menu {
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    box-shadow: inset -16px 0 16px -16px rgba(0,0,0,.5);
    pointer-events: auto
}

.lightbox.-menu .menu .menu-header {
    background: #272729;
    color: #fff;
    padding: 16px 24px;
    display: flex;
    align-items: center
}

.lightbox.-menu .menu .menu-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center
}

.lightbox.-menu .menu .menu-greeting {
    font-weight: 700;
    margin: 0 16px
}

.lightbox.-menu .menu .menu-nav {
    padding: 16px 0
}

.lightbox.-menu .menu .menu-item {
    color: #c9c9c9;
    display: flex;
    align-items: center;
    padding: 12px 24px
}

.lightbox.-menu .menu .menu-item.-selected {
    color: #fff
}

.lightbox.-menu .menu .menu-item.-selected .menu-item-icon.-svg {
    fill: #fff
}

.lightbox.-menu .menu .menu-item.-selected .menu-item-text {
    font-weight: 700
}

.lightbox.-menu .menu .menu-item-icon.material-icons {
    font-size: 20px
}

.lightbox.-menu .menu .menu-item-icon.-svg {
    width: 14px;
    height: 14px;
    margin: 3px;
    fill: #c9c9c9
}

.lightbox.-menu .menu .menu-item-text {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500
}

.lightbox.-menu .lightbox-overlay {
    position: fixed;
    left: 240px;
    pointer-events: all;
    opacity: 0
}
}
.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2
}

.bg.-steve {
    display: block;
    z-index: -1
}

.bg *,.blobs {
    position: absolute
}

.blobs {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.steve {
    top: 150px;
    z-index: 1;
    max-width: 600px;
    right: 8vw
}

.blob-1 {
    top: 0;
    right: 0;
    width: 50%
}

.blob-2 {
    left: 0;
    top: 400px
}

.blob-3 {
    right: 0;
    bottom: 0
}

@media screen and (max-width: 1280px) {
    .blob-1 {
        top:auto;
        bottom: calc(100% - 24vw + 320px);
        transform: translateY(100%);
        width: 60%
    }

    .steve {
        width: 500px;
        height: 307.8px
    }
}

.main-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 56px 8%;
    color: #fff
}

.footer-title {
    font-family: Montserrat,sans-serif;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 16px
}

.footer-nav-item,.footer-title {
    font-weight: 700;
    text-transform: uppercase
}

.footer-nav-item {
    font-size: 12px;
    letter-spacing: .5px
}

.footer-nav-item:not(:last-child) {
    margin-right: 48px
}

@media screen and (max-width: 840px) {
    .main-footer {
        background:#525865;
        color: #fff;
        padding: 24px 10%
    }

    .main-footer .footer-title {
        font-size: 20px;
        margin-bottom: 8px
    }

    .main-footer .footer-nav-item {
        color: #c9c9c9;
        font-size: 10px
    }

    .main-footer .footer-nav-item:not(:last-child) {
        padding-right: 6px;
        border-right: thin solid #8e97ab;
        margin-right: 6px
    }
}
