.dropdown-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.dropdown+.dropdown-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1
}

.dropdown {
    display: inline-block;
    background: #fff;
    color: #525865;
    position: absolute;
    right: 8%;
    top: 80px;
    padding: 16px 0;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(130,136,148,.16),0 0 4px rgba(130,136,148,.16),0 0 2px rgba(130,136,148,.08);
    z-index: 2
}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    width: 224px
}

.dropdown-item:not(:last-child) {
    margin-bottom: 6px
}

.dropdown-item:hover {
    background: #f0f0f5;
    font-weight: 700
}

.dropdown-item:hover .text {
    letter-spacing: .25px
}

.dropdown-item .text {
    display: block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .5px;
    text-align: right;
    width: 100%
}

.dropdown-item .icon {
    width: 24px;
    height: 24px;
    color: #6b75ff
}
